<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-light" >
  <h2 class= "text-dark">Customers List</h2>
  <div class= "text-light"><hr></div>
    <div class="table-responsive">
      <%= link_to 'New Customer', new_customer_path %>
      <ul>
        <% @customers.each do |customer| %>
          <li>
            <%= link_to customer.name, customer_path(customer) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>